@import "tailwindcss";

@font-face {
  src: url("../public/font/Inter-VariableFont_opsz\,wght.ttf");
  font-family: "Inter";
}

@font-face {
  src: url("../public/font/KaushanScript-Regular.ttf");
  font-family: "KaushanScript";
}
@layer utilities {
  .font-inter {
    font-family: "inter", sans-serif;
  }
  .font-kaushanScript {
    font-family: "KaushanScript", sans-serif;
  }
}
body {
  background-color: var(--main-color);
  font-family: "KaushanScript";
}
:root {
  --main-color: #d98262;
  --secondary-color: #e9bfb0;
  --color-white: #ffffff;
  --color-brown: #815748;
}
